.container {
  border-bottom: solid 1px oklch(0.9 0 0);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
}
.textLogo {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    oklch(55.8% 0.288 302.321),
    oklch(54.6% 0.245 262.881)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item {
  display: flex;
  gap: 15px;
}
.textItem {
  text-decoration: none;
  font-size: 14px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    opacity: 1;
  }
}
