.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  gap: 45px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.icon {
  background: linear-gradient(45deg, #9e26fe, #2272ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.title {
  font-size: 22px;
  font-weight: 700;
}
.text{
    opacity: 0.6;
}