.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boxWellcome {
  display: flex;
  flex-direction: column;
}
.containerWellcome {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 25px;
}
.ball {
  position: absolute;
  background-color: oklch(65.504% 0.18321 263.547);
  width: 200px;
  height: 200px;
  z-index: -1;
  filter: blur(100px);
  border-radius: 100%;
}
.ball2 {
  position: absolute;
  background-color: oklch(55.8% 0.288 302.321);
  width: 200px;
  height: 150px;
  filter: blur(100px);
  z-index: -1;
  left: 65%;
  top: 30%;
  border-radius: 100%;
}

.title {
  font-size: 64px;
  font-weight: 700;
}
.textgradient {
  background: linear-gradient(
    90deg,
    oklch(55.8% 0.288 302.321),
    oklch(54.6% 0.245 262.881)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  opacity: 0.7;
  font-size: 24px;
}
.boxBtn {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.boxBtn button:nth-child(1) {
  background: linear-gradient(
    90deg,
    oklch(54.6% 0.245 262.881),
    oklch(55.8% 0.288 302.321)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0px 4px rgb(187, 187, 187);
  box-shadow: 0 0px 4px rgb(187, 187, 187);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 1px 5px rgb(69, 69, 69);
    transition: 0.3s;
  }
}
.boxBtn button:nth-child(2) {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  background-color: white;
  border: none;
  box-shadow: 0 0px 4px rgb(187, 187, 187);
  border-radius: 24px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
  &:hover {
    background-color: rgb(245, 245, 245);
    transition: 0.2s;
  }
}
